<form [formGroup]="formGroup">
  <div class="rating-container">
    <!-- Sezione emozioni -->
    <div class="emotion-container">
      <h3>Valuta la canzone</h3>
      <h4>Quale emozione rappresenta il brano che hai appena ascoltato?</h4>

      <!-- Container per la scrollbar -->
      <div class="emotion-slider-container">
        <div class="emotion-grid" #emotionGrid>
          <div
            *ngFor="let emotion of emotions"
            class="emotion-card"
            [class.selected]="
              formGroup.get('selectedEmotion')?.value === emotion.code
            "
            (click)="selectEmotion(emotion.code)">
            <img [src]="emotion.img" [alt]="emotion.name" />
            <span>{{ emotion.name }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Sezione parametri musicali -->
    <div class="parameter-container">
      <h3>Esprimi un desiderio</h3>
      <h4>
        Identifica i parametri della canzone ideale per te per questa emozione
      </h4>

      <!-- Versione Desktop -->
      <div class="parameter-list-desktop">
        <ng-container
          *ngFor="
            let paramControl of parameterControls.controls;
            let i = index
          ">
          <div
            class="parameter-item"
            [formGroup]="getFormGroup(paramControl)"
            *ngIf="shouldShowParameter(i)">
            <label
              class="slider-label"
              pTooltip="{{ getParameterTooltip(i) }}"
              tooltipPosition="top">
              {{ getParameterLabel(i) }}
            </label>
            <div class="slider-range">
              <span class="slider-min">{{ getSliderMinLabel(i) }}</span>
              <p-slider
                formControlName="value"
                [min]="0"
                [max]="100"
                class="custom-slider">
              </p-slider>
              <span class="slider-max">{{ getSliderMaxLabel(i) }}</span>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Versione Mobile: carousel dei parametri -->
      <div class="parameter-slider-mobile">
        <div class="parameter-slider-container">
          <!-- Se ci sono parametri visibili, mostro la slide corrente -->
          <ng-container *ngIf="filteredIndexes().length > 0">
            <ng-container
              *ngTemplateOutlet="
                parameterSlide;
                context: {
                  $implicit: parameterControls.at(
                    filteredIndexes()[activeParameterIndex]
                  ),
                  index: filteredIndexes()[activeParameterIndex],
                }
              ">
            </ng-container>
          </ng-container>
        </div>

        <!-- Dots che corrispondono solo ai parametri visibili -->
        <div class="dots-container">
          <span
            *ngFor="let idx of filteredIndexes(); let i = index"
            [class.active]="i === activeParameterIndex"
            (click)="goToParameter(i)">
          </span>
        </div>
      </div>
    </div>

    <!-- Template per una slide (un parametro) -->
    <ng-template #parameterSlide let-param let-index="index">
      <div class="parameter-item" [formGroup]="param">
        <label
          class="slider-label"
          pTooltip="{{ getParameterTooltip(index) }}"
          tooltipPosition="top">
          {{ getParameterLabel(index) }}
        </label>
        <div class="slider-range">
          <span class="slider-min">{{ getSliderMinLabel(index) }}</span>
          <p-slider
            formControlName="value"
            [min]="0"
            [max]="100"
            class="custom-slider">
          </p-slider>
          <span class="slider-max">{{ getSliderMaxLabel(index) }}</span>
        </div>
      </div>
    </ng-template>

    <!-- Pulsante invio -->
    <div class="submit-container">
      <p-button
        label="Invia valutazione"
        (click)="submitRatings()"
        [disabled]="!formGroup.valid">
      </p-button>
    </div>
  </div>
</form>
