<footer class="footer">
  <div class="footer-content">
    <!-- Sezione SINISTRA -->
    <div class="footer-left">
      <a
        href="http://music.dia.unisa.it"
        target="_blank"
        rel="noopener noreferrer"
        class="lab-logo-link">
        <img
          src="img/mm-logo.png"
          alt="Laboratorio di Musimatica"
          class="lab-logo" />
      </a>
      <div class="lab-info">
        <span>Developed by</span>
        <a
          href="http://music.dia.unisa.it"
          target="_blank"
          rel="noopener noreferrer">
          <strong>Musimathics Lab</strong>
        </a>
      </div>
    </div>

    <!-- Sezione CENTRALE: Emotify al centro -->
    <div class="footer-center">
      <p>
        © 2025 <span class="brand-name">Emotify</span> - All rights reserved
      </p>
    </div>

    <!-- Sezione DESTRA: Creatori con icona cuore -->
    <div class="footer-right">
      <p>
        Created with
        <i class="fa fa-heart" aria-hidden="true"></i>
        by
        <span class="creators-list">
          <a
            href="https://github.com/a-ture"
            target="_blank"
            rel="noopener noreferrer"
            >Alessia Ture</a
          >
          <span class="separator">|</span>
          <a
            href="https://github.com/raffaellaspagnuolo"
            target="_blank"
            rel="noopener noreferrer"
            >Raffaella Spagnuolo</a
          >
        </span>
      </p>
    </div>
  </div>
</footer>
